{% set page = namespace(path='/') %}
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div id='map' class='map'></div>
    </div>

    <div class="col-md-3">
      <div style="grid-template-columns: 1fr"  class="d-grid gap-0 row-gap-3">

          <div class="p-2">
              <label for="scenario" class="form-label" id="scenarioLabel">Scenario:</label>
              <select class="form-select" name="scenario" id="scenario">
                  <option value="extreme_temp">Extreme Temperature</option>
              </select>
          </div>

          <datalist id="covariateValues">
            <option value="0"></option>
            <option value="1.5"></option>
            <option value="2"></option>
            <option value="4"></option>
          </datalist>
          <div class="p-2" id="covariateGroup">
              <label for="covariateParam" class="form-label" id="covariateParamLabel">Covariate: <span style="font-weight:bold">0</span></label>
              <input type="range" class="form-range" min="0" max="4" step="0.5" defaultValue="2.0" id="covariateParam" list="covariateValues"/>
          </div>

          <div class="p-2" id="calculationGroup">
              <label for="calculation" class="form-label" id="calculationLabel">Calculation:</label>
              <select class="form-select" name="calculation" id="calculation">
                  <option value="intensity">Intensity</option>
                  <option value="return_time">Return Time</option>
              </select>
          </div>

          <datalist id="tauReturnValues">
            <option value="10"></option>
            <option value="20"></option>
            <option value="30"></option>
            <option value="40"></option>
            <option value="50"></option>
            <option value="60"></option>
            <option value="70"></option>
            <option value="80"></option>
            <option value="90"></option>
            <option value="100"></option>
          </datalist>

          <div class="p-2" id="tauReturnGroup">
              <label for="tauReturnParam" class="form-label" id="tauReturnParamLabel">Return time: <span style="font-weight:bold">0</span></label>
              <input type="range" class="form-range" min="10" max="100" step="10" defaultValue="2.0" id="tauReturnParam" list="tauReturnValues"/>
          </div>

          <datalist id="intensityValues">
            <option value="30"></option>
            <option value="35"></option>
            <option value="40"></option>
          </datalist>

          <div class="p-2" id="intensityGroup">
              <label for="intensityParam" class="form-label" id="intensityParamLabel">Intensity: <span style="font-weight:bold">0</span></label>
              <input type="range" class="form-range" min="30" max="40" step="1" defaultValue="25" id="intensityParam" list="intensityValues"/>
          </div>


          <div class="p-2">
              <label class="form-label">Legend:</label>
              <div id="legend"></div>
          </div>

          <hr/>
          <div class="p-2">
              <label for="opacityInput" class="form-label" id="opacityInputLabel">Data Layer Opacity:</label>
              <input type="range" class="form-range" min="0" max="1.0" step="0.1" defaultValue="1.0" id="opacityInput"/>
          </div>

          <div class="p-2">
              <label for="boundaryLayer" class="form-label" id="boundaryLayerLabel">Boundaries:</label>
              <select class="form-select" name="boundaryLayer" id="boundaryLayer">
                  <option value="none">None</option>
                  <option value="local_authorities">Local Council Areas</option>
                  <option value="health_boards">NHS Health Boards</option>
                  <option value="fire_rescue">Scottish Fire and Rescue</option>
                  <!--<option value="police">Scottish Police Divisions</option>-->
              </select>
          </div>
    </div>
  </div>
</div>

<!--
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div>
    <table class="table table-sm" id="popup-data">
      <thead></thead>
      <tbody></tbody>
    </table>
    <div id="popupInfoText"></div>
  </div>
</div>
<div id="qual-popup" class="ol-popup">
  <a href="#" id="qual-popup-closer" class="ol-popup-closer"></a>
  <table class="table table-sm" id="popup-data">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
-->

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ static_url_for('static', filename='node_modules/ol/ol.css') }}"/>

<style>
  .map {
      width: 100%;
      height: 400px;
  }
  .ol-popup {
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
  }
  .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
  }
  .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px;
  }
  .ol-popup-closer:after {
      content: "✖";
  }
  .legend-icon {
      width: 25px;
      display: inline-block;
      text-align: center;
  }
  .legend-text {
      padding-left: 5px;
      display: inline-block;
  }
  </style>
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
  const mapserverurl = "{{ mapserverurl }}";
  const tilelayerurl = "{{ tilelayerurl }}";
</script>
<script type="module" src="{{ static_url_for('static', filename='dist/main.js') }}"></script>
{% endblock %}
