name: climate_scenario_web_tool
services:
  web:
    image: "ghcr.io/scsdmwt/climate_scenario_web_tool:latest"
    hostname: web
    depends_on: 
      postgres:
        condition: service_healthy
    env_file:
      - path: .env
        required: True
    environment:
      - DATABASE_URL=postgresql://scotclimpact:${POSTGRES_PASSWORD}@postgres/scotclimpact
      - DATA_DIR=/app/data
      - FLASK_APP=scotclimpact
      - FLASK_ENV=development
    networks:
      - default
    ports:
      - 80:80
    volumes:
      - ./scotclimpact/v0.1.0:/app/data/v0.1.0

  postgres:
    image: "ghcr.io/scsdmwt/climate_scenario_web_tool_data:latest"
    hostname: postgres
    env_file:
      - path: .env
        required: True
    networks:
      - default
    # Mapping this container port to localhost is useful in development.
    #ports:
    #  - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U scotclimpact -d scotclimpact"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  default:
