name: climate_scenario_web_tool
services:
  web:
    image: SCSDMWT/climate_scenario_web_tool
    hostname: web
    environment:
      - DATABASE_URL=postgresql://scotclimpact:testingtesting@postgres/scotclimpact
      - FLASK_APP=scotclimpact
      - FLASK_ENV=development
    networks:
      - default
    ports:
      - 80:80

  postgis:
    image: postgis/postgis
    hostname: postgis
    environment:
      - POSTGRES_DB=scotclimpact
      - POSTGRES_USER=scotclimpact
      - POSTGRES_PASSWORD=testingtesting
    volumes:
      - ./postgis:/var/lib/postgresql/data
    networks:
      - default
    ports:
      - "5432:5432"

networks:
  default:
